<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Educação</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Fam - Faculdade das américas</h3>
                <div class="subheading mb-3">Tecnónologo</div>
                <div>Análise e desenvolvimento de sistemas</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Setembro 2022 - fevereiro 2025</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Pottencial DIO C#|.NET</h3>
                <div class="subheading mb-3">Bootcamp</div>
                <p>Foco em C# .Net 6</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Setembro 2022 - Outubro 2022</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Geração Tech Unimed Fullstack</h3>
                <div class="subheading mb-3">Bootcamp</div>
                <p>Desenvolvimento full stack com foco em .Net e Angular</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Maio 2022 - Julho 2022</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Generation Brasil</h3>
                <div class="subheading mb-3">Bootcamp</div>
                <p>Desenvolvimento full stack com foco em Springboot e ReactJs</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Fevereiro 2022 - Maio 2022</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Etec Santa Ifigênia</h3>
                <div class="subheading mb-3">Técnico em cozinha</div>
                <p>Curso tecnico na area de gastronomia</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Junho 2017 - Dezembro 2018</span></div>
        </div>
    </div>
</section>