<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experiencia</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Sub-chef</h3>
                <div class="subheading mb-3">Green Kitchen</div>
                <p>Ajudante das tarefas do líder como gerenciar uma equipe, treinamento
                    de novos integrantes da equipe também de entrada e saída dos insumos
                    comprados/produzidos/descartados e o gerenciamento na finalização
                    da cozinha</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">March 2013 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Auxiliar de cozinha</h3>
                <div class="subheading mb-3">Mangiare Gastronomia</div>
                <p>Realizava o pré-preparo e preparo de entradas frias e sobremesas,fazia a finalização dos pratos principais e entradas</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">December 2011 - March 2013</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Estagiario</h3>
                <div class="subheading mb-3">Friccó</div>
                <p>Realizava o pré preparo e preparo de entradas frias e sobremesas, e auxiliava nas demandas da cozinha em geral conforme a necessidade</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">July 2010 - December 2011</span></div>
        </div>
    </div>
</section>